// ============================================================================
// Tables
// ============================================================================

.p-datatable {
  font-size: $font-size-sm;
  border-color: $color-gray-200;
  background-color: $color-white;
}

.p-datatable-thead > tr > th {
  background-color: $color-gray-50;
  color: $color-gray-900;
  font-weight: $font-weight-semibold;
  border-color: $color-gray-200;
  padding: $spacing-md;
}

.p-datatable-tbody > tr {
  border-color: $color-gray-200;

  > td {
    padding: $spacing-md;
    border-color: $color-gray-200;
  }

  &:hover {
    background-color: $color-gray-50;
  }
}
